@tailwind base;
@tailwind components;
@tailwind utilities;

/* generate font kantumruy pro */

body {
  font-family: "Kantumruy Pro";
  src: url("../fonts/kantumruy-pro-regular.woff2") format("woff2"),
       url("../fonts/kantumruy-pro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

